<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MMORPG - Create Character</title>

    <link rel="stylesheet" type="text/css" href="css/create-character.css">  
    <link rel="shortcut icon" href="assets/icons/favicon.png" />   
    <script type='text/javascript' src='js/pages/utils/jquery-3.4.1.min.js'></script> 

</head>

<body>
    <div id='create-container'>
        <div id='test-graph'></div>
    </div>

    <script type='text/javascript' src='js/pages/utils/stats-graph.js'></script>
    <script src="js/pages/create-character.js"></script>  
</body>

</html>