<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MMORPG - Map</title>

    <link rel="stylesheet" type="text/css" href="css/game.css">  
    <link rel="shortcut icon" href="assets/icons/favicon.png" />   
    <script type='text/javascript' src='js/pages/utils/jquery-3.4.1.min.js'></script>  

</head>

<body>
    <div id='game-container'></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src='js/game/setup.js' type="module"></script>  
</body>
</html>