<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MMORPG - Home</title>

    <link rel="stylesheet" type="text/css" href="css/home.css">  
    <link rel="shortcut icon" href="assets/icons/favicon.png" />   
    <script type='text/javascript' src='js/pages/utils/jquery-3.4.1.min.js'></script> 

</head>
    
<body>
    <div id='background'></div>

    <div id='home-container'>
        <div id='char-box'>
            <div class='char-container main'>
                <section>
                    <img class='char-img'>
                    <p>Tetheus</p>
                    <p>Aprendiz</p>
                    <p>Level 1</p>
                    <p>Observação</p>
                </section>

                <section>
                    <p>HP: 15/15</p>
                    <p>Energia: 8/8</p>
                    <p>Exp: 0/100</p>
                    <p>Fome: 0/10</p>
                    <p>Peso: 3</p>
                    <p>Vivo</p>
                    <p>Infantaria</p>
                </section>

                <section>
                    <p>FOR: 7</p>
                    <p>POD: 5</p>
                    <p>DEF: 6</p>
                    <p>RES: 6</p>
                    <p>VEL: 5</p>
                    <p>TEC: 5</p>
                    <p>SOR: 1</p>
                </section>

                <section class='big'>
                    <!-- <span><img src='assets/items/0.png'>Navalha quebrada aa</span> -->
                    <p class='no'>NO ITEM</p>
                </section>
                <section class='big'>
                    <!-- <span><img src='assets/items/0.png'>cavar um bocado</span> -->
                    <p class='no'>NO SKILL</p>
                </section>
            </div>
        </div>
    </div>

    <script src="js/pages/home.js"></script>
</body>
</html>