<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MMORPG - Home</title>

    <link rel="stylesheet" type="text/css" href="css/home.css">  
    <link rel="shortcut icon" href="assets/icons/favicon.png" />   
    <script type='text/javascript' src='js/pages/utils/jquery-3.4.1.min.js'></script> 

</head>
    
<body>
    <div id='background'></div>    

    <div id='home-container'>
        <header>
            <button id="btn-enter-game">JOGAR</button>
        </header>
        <div id="profile-container">
            <div id='toggle'><img src='assets/icons/arrow.png'></div>
            <span id='prof-username'>Scalibacon</span>
            <span id='prof-gold'><img src='assets/icons/gold-coin.png'/></span>
            <span id='prof-silver'><img src='assets/icons/silver-coin.png'/></span>
            <span id='prof-bronze'><img src='assets/icons/bronze-coin.png'/></span>
            <span id='log-out'><img src="assets/icons/log-out.svg">Sair</span>
        </div>

        <div id='char-box'>
        </div>

    </div>

    <script src="js/pages/home.js"></script>
</body>
</html>