<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MMORPG - Login</title>

    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <div id='index-container'>
    </div>
</body>
</html>