* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
}

canvas {
    border:solid 1px rgba(102, 51, 153, 0.5);
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#game-container {
    width: 100%;
    height:100vh;
    overflow-y: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}